<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Mysqldriver</servlet-name>
  	<display-name>Mysqldriver</display-name>
  	<description></description>
  	<servlet-class>db.Mysqldriver</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>connection</servlet-name>
  	<display-name>connection</display-name>
  	<description></description>
  	<servlet-class>db.connection</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Mysqldriver</servlet-name>
  	<url-pattern>/Mysqldriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>connection</servlet-name>
  	<url-pattern>/connection</url-pattern>
  </servlet-mapping>
</web-app>
